<div class="row">
  <h1>Angular PWA App</h1>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top"
        src="https://static.vecteezy.com/system/resources/previews/000/403/935/non_2x/positively-growing-and-success-graph-illustration-vector.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top"
        src="https://static.vecteezy.com/system/resources/previews/000/403/935/non_2x/positively-growing-and-success-graph-illustration-vector.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top"
        src="https://static.vecteezy.com/system/resources/previews/000/403/935/non_2x/positively-growing-and-success-graph-illustration-vector.jpg"
        alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h2>This is an app</h2>
    <p>Cronut banjo tumeric synth scenester. Locavore unicorn roof party shaman, 3 wolf moon mlkshk asymmetrical 90's
      brooklyn plaid fam normcore ramps poutine. Authentic stumptown echo park celiac jean shorts cray microdosing
      gluten-free chartreuse taiyaki disrupt whatever. Cornhole authentic whatever shoreditch helvetica food truck
      flexitarian stumptown austin bitters mlkshk keffiyeh tacos squid direct trade. Kickstarter fanny pack snackwave
      venmo, air plant schlitz pop-up migas synth. Fixie blog glossier, umami iceland wayfarers XOXO copper mug master
      cleanse put a bird on it. Banh mi cornhole echo park artisan irony PBR&B meditation vegan kinfolk trust fund poke.
    </p>
  </div>
</div>
